@use '../base' as *;

.testimonial {
    background-color: #fff;
    padding: 5em 2em 2em 2em;
    position: relative;
    border-radius: 0.4rem;
    z-index: 50;

    &__img {
        position: absolute;
        inset: -18% 50% 0 50%;
        transform: translateX(-50%);
        padding: 1.5em;
        border-radius: 100vmax;
        background-color: var(--clr-violet);
    }

    @media(min-width: 1000px) {
        &__img {
            top: -45px;
            left: 80px;
        }
    }

    &__p {
        margin-top: 1rem;
        font-size: clamp(1rem, 3vw, 1.05rem);
    }
}